<div class="content">
    <h1 class="contentheader">
        Login
    </h1>

    <div class="contentcontent">
        <form class="form row">
            <div>
                <label class="col-12" for="username-input-login">Username</label>
                <input class="col-12" type="text" id="username-input-login" />
            </div>
            <div>
                <label class="col-12" for="password-input-login" class="form-label">Password</label>
                <input class="col-12" type="password" id="password-input-login" />
            </div>
            <button type="submit" id="login-btn" class="btn">Login</button>
            <a class="signupbtn" type="button" href="/signup">Sign up?</a>
        </form>
    </div>
</div>