<div class="content">
    <h1 class="contentheader">
        {{post.title}}
    </h1>

    <div class="formdiv">
        <form id="newform" class="form">
            <label class="label" for="posttitle">Title</label>
            <input type="text" name="posttitle" class="input" />

            <label class="label" for="postbody">Post body</label>
            <textarea name="postbody" class="textarea"></textarea>

            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</div>

<script src="/js/new.js"></script>