<div class="content">
    <h1 class="contentheader">
        Sign Up
    </h1>

    <div class="contentcontent">
        <form class="form row">
            <div>
                <label class="col-12" for="userlogin">Username</label>
                <input class="col-12" type="text" id="userlogin" />
            </div>
            <div>
                <label class="col-12" for="passwordlogin" class="form-label">Password</label>
                <input class="col-12" type="password" id="passwordlogin" />
            </div>
            <button type="submit" id="signupbtn" class="btn">Sign up</button>
            <a class="altbtn" type="button" href="/login">Login?</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>