/* 
Colors for theme:
Grey - rgba(103, 99, 98)
Lighter Grey - rgba(208, 207, 205)
Yellow - rgba(244, 224, 138)
Darker Yellow - rgba(205, 171, 82)
*/

/* Text Formatting */
.link {
    text-decoration: none;
    color: rgba(244, 224, 138);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    width: auto;
}

.link:hover {
    text-decoration: none;
    color: rgba(205, 171, 82);
}

.brand {
    text-decoration: none;
    color: rgba(103, 99, 98);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.brand:hover {
    text-decoration: none;
    color: rgba(103, 99, 98);
}

/* Navbar Styling */
.mainnavbar {
    background-color: rgba(103, 99, 98);
    height: 150px;
    padding-left: 75px;
    max-width: 100%;
    margin: 0;
}

.brandDiv {
    background-color: rgba(244, 224, 138);
    border-radius: 10px;
    height: 75px;
    box-shadow: 7px 7px rgba(205, 171, 82);
}

/* Content Styling */
body {
    min-height: 100vh;
    height: auto;
    background-color:rgba(244, 224, 138);
}

.contentbody {
    background-color: rgba(244, 224, 138);
    height: 83%;
    padding: 60px;
}

.content, .lvcommentdiv {
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(103, 99, 98);
    border-width: 5px;
    height: auto;
    margin: auto;
    padding: 0;
}

.contentheader {
    background-color: rgba(103, 99, 98);
    color: rgba(244, 224, 138);
    height: 75px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
}

h1 {
    font-size: 30px;
}

.contentcontent {
    padding: 20px;
    min-height: 75%;
    height: auto;
}

label {
    color: rgba(103, 99, 98);
    font-size: 18px;
    font-weight: 600;
    margin: 5px auto 5px auto;
}

input {
    background-color: rgba(244, 224, 138);
    box-sizing: border-box;
    border: 3px solid rgba(208, 207, 205);
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 35px;
    padding-left: 10px;
}
  
input:focus, input:hover {
    border: 3px solid rgba(103, 99, 98);
}

.btn, .altbtn, .postbtn {
    border-radius: 5px;
    margin: 20px 12px 20px 12px;
    padding: 0;
    background-color: rgba(103, 99, 98);
    height: 40px;
    color: rgba(244, 224, 138);
    font-weight: 600;
    width: 200px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover, .altbtn:hover, .newpostlink:hover .postbtn {
    color: rgba(205, 171, 82);
    text-decoration: none;
}

.altbtn {
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

/* Blog styling */
.blogpost {
    height: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(103, 99, 98);
    border-width: 5px;
    margin: 20px auto 20px auto;
    padding: 0;
}

.blogheader {
    padding: 10px 10px 10px 25px;
    background-color:rgba(103, 99, 98);
    color: rgba(244, 224, 138);
}

.blogbody, .commentbody {
    padding: 10px 10px 10px 25px;
    color:rgba(103, 99, 98);
    font-weight: 600;
    font-size: 18px;
}

.posts {
    width: 100%;
}

.postlink {
    padding: 25px;
    background-color:rgba(103, 99, 98);
    color: rgba(244, 224, 138);
    border-radius: 5px;
    height: 80px;
    margin: 20px;
}

span {
    margin: 10px;
}

.date {
    font-size: 20px;
}

.postbtn {
    margin: auto;
    height: auto;
    width: auto;
    padding: 20px;
    background-color:rgba(103, 99, 98);
    margin: 20px;
    border-radius: 5px;
}

.headerdate, .headeruser {
    background-color: rgba(103, 99, 98);
    color: rgba(244, 224, 138);
    padding: 20px 15px 0px 0px;
    margin: 0;
    font-size: 20px;
    text-align:right;
}

/* Comments */
.commentsdivider h1 {
    margin: 25px;
    color: rgba(103, 99, 98);
    font-weight: 700px;
}

.commentcontent h1 {
    background-color: rgba(103, 99, 98);
    color: rgba(244, 224, 138);
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    font-size: 20px;
}

.commentheadrow, .postheadrow  {
    width: 100%;
    margin: 0;
}

.commentdate, .headerdate {
    margin: 0;
}

.commentcontent {
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(103, 99, 98);
    border-width: 5px;
    height: auto;
    margin: 10px auto 10px 100px;
    padding: 0;
}

.lvcommentdiv {
    margin: 50px 0px 0px 150px;
}

/* Form styling */

.form {
    padding: 20px;
}

.label {
    width: 100%;
}

.textarea {
    background-color:rgba(244, 224, 138);
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 3px solid rgba(208, 207, 205);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none !important;
}

.textarea:focus, .textarea:hover {
    border: 3px solid rgba(103, 99, 98);
}

/* userposts styling */
.userpostdiv {
    width: 100%;
    padding: 0;
    margin: 0px;
}

.userposts {
    padding: 25px;
    background-color:rgba(103, 99, 98);
    color: rgba(244, 224, 138);
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    height: 80px;
    margin: 20px 0px 20px 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.userposts:hover, #deletebtn:hover {
    text-decoration: none;
    color: rgba(205, 171, 82);
}

#deletebtn {
    padding: 25px;
    background-color: rgb(155, 56, 56);
    color: rgba(244, 224, 138);
    font-weight: 600;
    font-size: 25px;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#deletebtn:hover {
    background-color: rgb(126, 46, 46);
}

#hide {
    display: none;
}